* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Roboto-Regular, "Helvetica Neue", Helvetica, Tahoma, Arial,
    Sans-serif;
  background: #e7e8ec;
  color: #999;
  font-size: 12px;
}
header {
  background-color: #f85606;
}
.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.container .h-text {
  display: flex;
  gap: 20px;
  font-size: 15px;
}

.container .darazicons {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: rgba(000, 000, 000, 0.3);
  padding: 5px 10px;
  border-radius: 0 0px 10px 10px;
}
.darazicons img {
  width: 20px;
}
.darazicons span {
  font-size: 13px;
}
.navbar {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
}
.navbar img {
  width: 120px;
  height: 48px;
}
.navbar ul {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  font-size: 25px;
  color: white;
  list-style: none;
}
.navbar ul li span {
  font-size: 14px;
}
.navbar .search {
  border-radius: 10px;
  width: 60%;
  padding: 10px 30px;
  height: 5vh;
  background-color: white;
  display: flex;
  overflow: hidden;
  position: relative;
}
.navbar .search input {
  border: none;
  width: 80%;
}
.navbar .search i {
  color: #f85606;
  padding: 8px 14px;
  position: absolute;
  border-radius: 6px;
  right: 20px;
  top: 5px;
  background-color: #ffe1d2;
}
.navbar button {
  margin-left: 10px;
}
/* Hero Section */
section {
  width: 80%;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

section .sidebar {
  background-color: #fff;
  border-radius: 10px;
  width: 30%;
}

section .sidebar ul {
  list-style: none;
  padding-left: 20px;
  margin: 10px 0;
}
section .sidebar ul li {
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  white-space: nowrap;
  width: 172px;
  font-family: Roboto-Regular;
  font-size: 13px;
  line-height: 27px;
  color: #757575;
  cursor: pointer;
}
section .sidebar ul li a {
  font-size: 16px;
  text-decoration: none;
  color: #999;
  display: flex;
  gap: 8px;
  align-items: center;
}
section .sidebar ul li a:hover {
  color: #f85606;
}
.carousel {
  position: relative;
  width: 100%;
  height: 380px;
}

.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.carousel img.active {
  opacity: 1;
}

.carousel i {
  position: absolute;
  top: 23vh;
  background: rgba(000, 000, 000, 0.3);
  padding: 10px;
  color: #fff;
  font-size: 32px;
  cursor: pointer;
  z-index: 1;
}
.carousel img {
  width: 100%;
}

.carousel .prev {
  left: 20px;
}

.carousel .next {
  right: 20px;
}

.carousel-indicators {
  position: absolute;
  top: auto;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
}

.carousel-indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #fff;
  cursor: pointer;
}

.carousel-indicator.active {
  background-color: #fff;
  border: 1px solid #fff;
}
/* payment */
.payment {
  background-color: #fff1eb;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
}
.payment span {
  display: flex;
  gap: 8px;
  align-items: center;
}
.payment span img {
  width: 24px;
  height: 24px;
}
.payment span a {
  font-size: 15px;
  color: #000;
  text-decoration: none;
}
.payment span a::after {
  content: "|";
  color: rgba(0, 0, 0, 0.2);
  width: 0;
  padding: 0 6px 0 15px;
}

/* items */
.items {
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  margin-top: 20px;
}
.items ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 10px 0;
}
.items ul li a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
.items ul li a span {
  margin-top: 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
}
.items ul li a span:hover {
  color: #f85606;
}
.items ul li a img {
  width: 80px;
  height: 80px;
}

/* Categories */
h4{
  margin-top: 20px;
  
}
.categories {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.categories-items {
  width: 12.5%;
  height: 165.5px;
  border-right: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  background-color: #fff;
  padding: 15px;
}
.categories-items img {
  width: 100%;
}
.categories-items span {
  margin: 8px 12px 0;
  font-size: 14px;
  color: #212121;
  padding-bottom: 20px;
}
